<div class="container">
  <div class="row">
  	<div class="col-xs-11">
	  	<div class="head-line col-sm-9">管理者画面</div>
	  	</br>
	  	</br>
		  <h2 class="order-count col-xs-4">本日の注文件数</h2>
		  <h2><%= link_to @orders.count, admins_orders_path %>件</h2>
   </div>
  </div>
</div>